{% load staticfiles %}
<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Demo.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/MainPage.css' %}"/>
        <SCRIPT type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></SCRIPT>
        <SCRIPT>
            $(document).ready(function(){
                $('button#getAnalyze_button').on("click", getAnalyze);
                $('textarea#getAnalyze_input').on("keydown", function(key){
                    if(key.keyCode == 13){
                        getAnalyze();
                    }
                });
            });

            // jQuery : ajax
            function getAnalyze(){
                // textarea 입력 텍스트 받아와서, div 태그에 삽입.
                sentiStr = $('textarea#getAnalyze_input').val();
                $('textarea#getAnalyze_input').val("");

                // blank >> return
                if(sentiStr == "")
                    return;
                    
                $.ajax({
                    url:'/Capstone/Demo/analyze/',
                    data:{
                        'text':sentiStr
                    },
                    dataType:'JSON',
                    beforeSend:function(){
                        $('img#loadCircle').fadeToggle();
                    },
                    success:function(data){
                        $('img#loadCircle').fadeToggle();
                        $('textarea#getAnalyze_input').val("");
                        
                        // 긍정
                        if(data.result == 1){
                            $('div#getAnalyze_result').text("POSITIVE");
                            $('div#getAnalyze_result').css({
                                'color':'green',
                                'font-weight':'800'
                            });
                        }
                        // 부정
                        else if(data.result == 0){
                            $('div#getAnalyze_result').text("NEGATIVE");
                            $('div#getAnalyze_result').css({
                                'color':'red',
                                'font-weight':'800'
                            });
                        }

                        $('div#getAnalyze_text').text(sentiStr);
                    }
                });
            }
        </SCRIPT>
    </HEAD>

    <BODY>
        <div class="wrapper">
            <header class="top">
                <section class="top_titleS">
                    <div>
                        <div><a href="/Capstone/Demo"><img class="mainLogo" src="{% static 'Image/Ho.png' %}" /></a></div>
                    </div>
                </section>
                <nav class="top_listS">
                    <div>
                        <ul>
                            <li><a class="mainA" href="/Capstone/Demo">데모</a></li>
                            <li><a class="mainA" href="/Capstone/MovieGuide">영화안내</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            
            <section class="mid">
                <section class="mid_secS">
                    <article>
                        <div class="mid_div">
                            <!-- 상단 타이틀 영역  -->
                            <div class="mid_titleArea">
                                <img src="{% static 'Image/DEMO_text.png' %}">
                            </div>
                            
                            <!-- 이미지와 텍스트 입력 영역  -->
                            <div class="mid_inputArea">
                                <div>
                                    <!-- 이미지 영역 -->
                                    <div class="mid_inputArea_Image">
                                        <a href="/Capstone/Demo">
                                            <img src="{% static 'Image/Cat.png' %}">
                                        </a>
                                    </div>

                                    <span class="gapSpan"></span>

                                    <!-- 텍스트 입력 영역 -->
                                    <div class="mid_inputArea_Input">
                                        <textarea id="getAnalyze_input" name="reviewArea" maxlength="140" placeholder="문장을 입력해주세요." cols="3" rows="50" autofocus></textarea>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- 버튼 클릭 영역  -->
                            <div class="mid_buttonArea">
                                <button id="getAnalyze_button">분석</button>
                            </div>
                            
                            <!-- 예측 결과 영역 --> 
                            <div class="mid_predictArea">         
                                <!-- 예측 결과에 사용된 텍스트 -->
                                <div class="predictText">
                                    <img id="loadCircle" class="loadCircle" src="{% static 'Image/loadingCircle.gif' %}"/>
                                    <div>
                                        <div id="getAnalyze_text">
                                            예측 결과에 사용 텍스트
                                        </div>
                                    </div>
                                </div>

                                <!-- 예측 결과 -->
                                <div class="predictResult">
                                    <div>
                                        <div id="getAnalyze_result">
                                            분석결과
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </section>

            <footer class="bot">
            </footer>
        </div>
    </BODY>
</HTML>