{% load staticfiles %}
<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/MainPage.css' %}"/>
        <SCRIPT type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></SCRIPT>
        <SCRIPT type="text/javascript" src="{% static 'js/publicScript.js' %}"></SCRIPT>
        
        <SCRIPT>        
            $(document).ready(function(){
                // ready();
            });
        </SCRIPT>
    </HEAD>

    <BODY>
        <div class="wrapper">
            <header class="top">
                <section class="top_titleS">
                    <div>
                        <div><a href="/Capstone/MainPage"><img class="mainLogo" src="{% static 'Image/Ho.png' %}" /></a></div>
                    </div>
                </section>
                <nav class="top_listS">
                    <div>
                        <ul>
                            <li><a class="mainA" href="/Capstone/Intro">소개</a></li>
                            <li><a class="mainA" href="/Capstone/Demo">데모</a></li>   
                            <li><a class="mainA" href="/Capstone/MovieGuide">영화안내</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            
            <section class="mid">
                <section class="mid_secS">
                    MainPage
                </section>
            </section>

            <footer class="bot">
                bottom
            </footer>
        </div>
    </BODY>
</HTML>